$primary-bg-color: lightsteelblue;
$primary-font-color: navy;

body {
    background-color: $primary-bg-color;
}

.row {
    justify-content: center;
    align-items: center;
}

.container {
   justify-items: center;
   padding: 50px;
}

#div-1 {
    justify-content: center;
    align-items: center;
    color: $primary-font-color;
}

.navbar{
    background: $primary-bg-color;
}

.navbar :hover, #External-Link :hover {
    color: rgb(206, 107, 71);
}

.nav-link, #External-Link {
    color: #3667ab;
    font-weight: 500;
}

ul {
    font-weight: 200;
}

h5 {
    font-style: italic;
    font-weight: 400;
}

p {
    font-weight: 300;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40;
}

/* CSS for the fade-in animation */
.project-container, .about-section {
    opacity: 0; /* Initially hidden */
    transition: opacity 2s ease-in-out; /* Transition for smooth fade-in */
}

.project-fade-in {
    opacity: 1; /* Faded in when the project is in view */
}
